.form {
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 60px;
  background-color: #7fffd4;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group h1{
  align-items: center;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.error {
  color: red;
  font-size: 0.8rem;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}
